@font-face {
  font-family: 'RobotoMono';
  src: url('./fonts/Roboto_Mono/RobotoMono-Thin.ttf');
}

* {
  font-family: 'RobotoMono', monospace;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;

  color: #fff;
  background: #314755;
  background: -webkit-linear-gradient(to right, #314755, #26a0da);
  background: linear-gradient(to right, #314755, #26a0da);
}